.element {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    opacity: 0.9;
}

.create-btn {
    float: right;
    padding-right: 20px;
    padding-top: 20px;
}

.links {
    text-decoration: none;
}

body {
    background-image: url("/static/img/kitchen-background.jpg");
    background-size: 1920px 1080px;
}

.index {
    font-size: 32px;
    background-color: #ffffff;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paginator {
    position: absolute;
    top: 94%;
    left: 45%;
}