{% extends "_base.html" %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static "css/settings.css" %}">
  <div class="element middle">
        <table class="table">
        <tr>
          <th>Dishes Types</th>
          {% if user.is_authenticated %}
            <th>Edit</th>
            <th>Create</th>
        </tr>
      {% endif %}
      {% for dish_type in dish_type_list %}
        <tr>
          <td><a class="links" href="{% url "kitchen:dish-type-detail" pk=dish_type.id %}">{{ dish_type }}</a></td>
          {% if user.is_authenticated %}
            <td><a class="links" href="{% url "kitchen:dish-type-update" pk=dish_type.id %}">Update </a><a class="links"
                                                                                      href="{% url "kitchen:dish-type-delete" pk=dish_type.id %}">Delete</a>
            </td>
            <td><a class="links" href="{% url "kitchen:dish-type-create" %}">Create</a></td>
          {% endif %}
        </tr>
      {% endfor %}
      </table>
  </div>
{% endblock %}
